.first-banner {
  background-color: #304B26;
  color: white;
}


.footer {
  background-color: #795949;
  padding: 30px;
}

.lists {
  background-color: #795949;
  color: #D7DFE2;
  text-size: 20px;
  
}
 
.about-me {
  background-color: #909752;
  color: #795949;
  text-size: 16px;
}

.coding-skills{ 
  background-color: #304B26;
  color: #909752;
  text-size: 24px;
  }
  
.main-banner {
  background-color: 795949;
  color: 304B26;
}
